In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

In [3]:
books = pd.read_csv('Books.csv')
user = pd.read_csv('Users.csv')
rating = pd.read_csv('Ratings.csv')

C:\Users\Chinmay\AppData\Local\Temp\ipykernel_5636\3566863238.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-M']]

In [5]:
books.rename(columns = {'ISBN' : 'isbn', 'Book-Title': 'title', 'Book-Author': 'author', 'Year-Of-Publication': 'year', 'Publisher': 'publisher', 'Image-URL-M':'url'}, inplace = True)

In [6]:
books.head()

,isbn,title,author,year,publisher,url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [7]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
user.rename(columns = {'User-ID' : 'id', 'Location': 'location', 'Age': ' age'}, inplace = True)

In [9]:
rating.rename(columns = {'User-ID' : 'id', 'ISBN': 'isbn', 'Book-Rating': 'rating'}, inplace = True)

In [10]:
rating.head()

       id        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [11]:
books.isnull().sum()

isbn         0
title        0
author       2
year         0
publisher    2
url          0
dtype: int64

In [12]:
books.duplicated().sum()

0

In [13]:
user.duplicated().sum()

0

In [14]:
rating.duplicated().sum()

0

In [15]:
# EDA
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   isbn       271360 non-null  object
 1   title      271360 non-null  object
 2   author     271358 non-null  object
 3   year       271360 non-null  object
 4   publisher  271358 non-null  object
 5   url        271360 non-null  object
dtypes: object(6)
memory usage: 12.4+ MB

In [16]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   id      1149780 non-null  int64
 1   isbn    1149780 non-null  object
 2   rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [17]:
(rating['isbn'].nunique())

340556

In [18]:
rating['isbn'].value_counts()

isbn
0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
               ...
1568656386        1
1568656408        1
1569551553        1
1570081808        1
05162443314       1
Name: count, Length: 340556, dtype: int64

In [19]:
x = rating['isbn'].value_counts()

In [20]:
merge_rating = rating.merge(books, on='isbn')

In [21]:
merge_rating.head()

,id,isbn,rating,title,author,year,publisher,url
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...

In [22]:
merge_rating.shape

(1031136, 8)

In [23]:
book_rating = merge_rating.groupby('title').count()['rating'].reset_index()

In [24]:
book_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       4
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Ask Lily (Young Women of Faith: Lily Series, ...       1
4   Beyond IBM: Leadership Marketing and Finance ...       1

In [25]:
book_rating.rename(columns = {'rating' : 'num_rating'}, inplace = True)

In [26]:
# popularity based recommendation.

In [27]:
popular = merge_rating.groupby('title')['rating'].mean().reset_index()

In [28]:
popular.shape

(241071, 2)

In [29]:
popular.rename(columns = {'rating' : 'av.rating'}, inplace =True)

In [30]:
popular = popular.merge(book_rating, on='title')

In [31]:
top_books = popular[popular['num_rating'] >= 250].sort_values('av.rating',ascending = False).head(50)

In [32]:
top_books.shape

(50, 3)

In [33]:
top_books_info = top_books.merge(books, on='title')

In [34]:
top_books_info.shape

(196, 8)

In [35]:
top_books_info.drop_duplicates('title',inplace = True)

## top 50 books to recommend for anyone â†“.

In [36]:
top_books_info.head()

,title,av.rating,num_rating,isbn,author,year,publisher,url
0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556,0439064872,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...

## Collaborative filtering approach.

In [37]:
merge_rating.shape

(1031136, 8)

In [38]:
merge_rating.head()

,id,isbn,rating,title,author,year,publisher,url
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...

In [39]:
# x = merge_rating.groupby('title').count()['rating'] >= 50

In [40]:
# ind_rating_book = x[x].index

In [41]:
y = merge_rating.groupby('id').count()['rating'] > 200

In [42]:
len(y[y])

811

In [43]:
y[y]

id
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: rating, Length: 811, dtype: bool

In [44]:
ind_rating_user = y[y].index

In [45]:
# that is number of users present in 'merge_rating' df, thaat are also present in 'ind_rating_user'
good_users = merge_rating[merge_rating['id'].isin(ind_rating_user)]

In [46]:
x = good_users.groupby('title').count()['rating'] >= 50

In [47]:
ind_rating_book = x[x].index

In [48]:
final = good_users[good_users['title'].isin(ind_rating_book)]

In [49]:
final.head()

,id,isbn,rating,title,author,year,publisher,url
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...

In [50]:
# now this is the data with users who have rated for > 200 times hence theeir rating matters,
# and among them the books which each has atleat 50 number of ratings.

In [51]:
pv = final.pivot_table(index = 'title', columns = 'id', values = 'rating')

In [52]:
pv.fillna(0,inplace = True)

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similars = cosine_similarity(pv)

In [55]:
# making a function which will have a book title and will return the top 5 closest books related to it.

In [56]:
np.where(pv.index == 'Winter Solstice')[0]

array([696], dtype=int64)

In [110]:
def recom(title):
    list = []
    count = 0
    ind = np.where(pv.index == title)[0][0]
    sorts = sorted(enumerate(similars[ind]), key = lambda x:x[1], reverse = True)[1:6]
    for i in sorts:
        inp = []
        temp = books[books['title'] == pv.index[i[0]]]
        temp = temp.drop_duplicates('title')
        inp.extend((temp['title'].values).tolist())
        inp.extend((temp['author'].values).tolist())
        inp.extend((temp['url'].values).tolist())

        list.append(inp)
                
    return list

In [59]:
sorts = sorted(enumerate(similars[696]), key = lambda x : x[1], reverse = True)[1:6]

In [60]:
for i in sorts:
    print(pv.index[i[0]])

Coming Home
From Potter's Field
Deja Dead
The Celestine Prophecy (Celestine Prophecy)
Montana Sky

In [111]:
demo = recom("Winter Solstice")

In [62]:
demo = pd.read_csv('Books.csv')

C:\Users\Chinmay\AppData\Local\Temp\ipykernel_5636\636828774.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  demo = pd.read_csv('Books.csv')

In [63]:
top_books_info['url'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

In [64]:
import pickle

In [65]:
pickle.dump(top_books_info, open('popular.pkl', 'wb'))

In [112]:
for i in demo:
    # print('titles',i[0])
    # print('author',i[1])
    print(i[2])

http://images.amazon.com/images/P/0312958129.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0425154092.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0671011367.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/044651862X.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0515120618.01.MZZZZZZZ.jpg

In [116]:
pickle.dump(similars,open('similarity.pkl', 'wb'))

In [114]:
pickle.dump(pv,open('pv.pkl','wb'))

In [115]:
pickle.dump(books,open('book_df.pkl','wb'))